{{#liquid-if updatePostForm}}
  <h4>Update {{post.author}}'s {{post.title}}</h4>
    <div>
      <form>
        <div class="form-group">
          <label for="title">Title</label>
          {{input value=title id="title" placeholder=post.title}}
        </div>

        <div class="form-group">
          <label for="author">Author</label>
          {{input value=author id="author" placeholder=post.author}}
        </div>

        <div class="form-group">
          <label for="img">Image</label>
          {{input value=img id="img" placeholder=post.img}}
        </div>

        <div class="form-group">
          <label for="content">Content</label>
          {{textarea value=content id="content" placeholder=post.content}}
        </div>

        <button {{action 'update' post}}>Save</button>
      </form>
    </div>
{{else}}
  <button {{action 'updatePostForm'}}>Update</button>
{{/liquid-if}}
