<!-- sets up pg content and layout -->

<h2>{{post.title}}</h2> <br>
by {{post.author}} <br>
{{post.img}}
{{post.content}}

<br>
<p><img src={{post.img}} alt={{post.title}}></p>

comments (one post hasMany comments)<br>
add, edit
<br><br>
delete comments
