<!-- sets up pg content and layout -->

<!-- post -->
<div class="post">
  <h1>{{post.title}}</h1> <br>
  by <span class="styleFont">{{post.author}}</span> <br>
  {{post.content}}
  <br>
  <p><img src={{post.img}} alt={{post.title}}></p>
</div>

<!-- comment -->
<ul>
  {{#each post.comments as |comment|}}
    {{comment-tile update="update" destroyComment="destroyComment" comment=comment}}
  {{/each}}
</ul>
