{{#liquid-if updateCommentForm}}
  <h4>Update {{comment.user}}'s {{comment.entry}}</h4>
    <div>
      <form>
        <div class="form-group">
          <label for="user">Username</label>
          {{input value=user id="user" placeholder=comment.user}}
        </div>

        <div class="form-group">
          <label for="entry">Comment</label>
          {{input value=entry id="entry" placeholder=comment.entry}}
        </div>

        <button {{action 'update' comment}}>Save</button>
      </form>
    </div>
{{else}}
    <button {{action 'updateCommentForm'}}>Update</button>
{{/liquid-if}}
